@import url(http://fonts.googleapis.com/css?family=Oswald:300);

@import "compass/css3";

$orange: #f60;
$dark_orange: #f30;
$dark_grey: #444;
$darker_grey: #222;

$menu_bg: $dark_grey;
$menu_link_color: #333;
$menu_link_color_selected: $orange;
$link_color: $orange;


$body_text_color: #000;
$body_font_family: "Helvetica Neue";
$body_font_weigth: 300;
$body_font_size: 15px;
$line_height_multiplier: 1.4;

$title_font_family: "Oswald";

$page_width: 714px;
$page_width: $body_font_size * 40;


body {
  font-family: $body_font_family, Helvetica, Arial, sans-serif;
  font-weight: $body_font_weigth;
  font-size: $body_font_size;
  line-height: $body_font_size * $line_height_multiplier;
  margin: 0;
  padding: 0;
  color: $body_text_color;
}

.alert {
  margin: 0 auto;
  background-color: #fd0 + #ccc;
  padding: 1em;
  font-weight: 300;
  font-size: 18px;
  color: $dark_grey;
  text-align: center;
}

.menu {
  position: fixed;
  left: 60px;
  top: 60px;
  width: 240px;
  text-align: right;
  margin-top: 60px;
  font-size: $body_font_size * 0.9;
  h1 {
    font-weight: 200;
    font-size: 26px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    small {
      font-family: $title_font_family;
      display: block;
      font-size: $body_font_size;
      margin-top: 8px;
      color: #ccc;
    }
  }
  padding: 10px;
  ul {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0 10px 0;
      border-bottom: 1px solid #fff;
      &.active {
        border-bottom: 1px solid $orange;
        a {
          //font-weight: 400;
          color: $menu_link_color_selected;
        }
      }
    }
  }
  a,
  a:visited {
    color: $menu_link_color;
    text-decoration: none;
    //font-size: 14px;
    font-weight: 300;
  }
}

.page {
  width: $page_width;
  margin-left: 400px;
  margin-top: 40px;
  margin-bottom: 100px;
  h1 {
    font-family: $title_font_family;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 38px;
    color: $orange;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    color: $dark_grey;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 50px;
  }
  h1 + h3 {
    font-family: $title_font_family;
    font-size: $body_font_size * 1.2;
    font-weight: 300;
    text-transform: uppercase;
    color: #999;
    margin-top: -10px;
  }
  a,
  a:visited {
    font-weight: 400;
    text-decoration: none;
    color: $link_color;
  }
  a:hover {
    color: $dark_orange;
    border-bottom: 1px dotted $dark_orange;
  }
  strong {
    font-weight: 600;
    color: $dark_grey;
  }
  h1 + p,
  h2 + p,
  h1 + h3 + p,
  blockquote p {
    text-indent: 0;
  }
  p {
    width: 600px;
    text-indent: 1em;
    line-height: $body_font_size * $line_height_multiplier;
    margin-bottom: 20px;
  }
  ul,
  ol {
    width: 600px;
    line-height: $body_font_size * $line_height_multiplier;
    margin-bottom: $body_font_size * 2;
    li {
      margin-bottom: $body_font_size / 2;
    }
  }
  img {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    border-radius: 5px;
  }
  p > img {
    margin-left: -1em;
  }
  code {
    font-family: Consolas, Menlo, fixed;
    font-size: 14px;
    background-color: #ccc;
    padding: 0 4px;
    @include border-radius(3px);
  }
  pre > code {
    background-color: $dark_grey;
    color: #0f0;
    padding: 10px;
  }
  blockquote {
    color: #999;
    font-family: Georgia, serif;
    font-style: italic;
  }
}
.footer {
  margin-top: 40px;
  color: #999;
  font-size: 0.8em;
}

#racknotes {
  font-size: 13px;
}

