- start = Time.now
!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(content="width=device-width" name="viewport")
    %title
      Coding Designer -
      =routeclass.capitalize
    / Included CSS Files
    = stylesheet_link_tag "app"

  %body{ :class => routeclass }
    .alert
      Remember, kids: this is a beta.

    .menu
      %h1
        The Coding Designer
        %small
          a web-book about a
          %em modern
          design process
      %ul
        %li{ :class => (routeclass == 'index' ? 'active' : nil) }=link_to "Welcome", "/"
        - menu_links.each do |link|
          %li{ :class => (link == routeclass ? 'active' : nil) }=link_to link.capitalize, link
        %li#github=link_to "Github »", "https://github.com/bomberstudios/coding-designer"

    .page
      = yield

      .footer
        A happy bunch of coding monkeys generated this page, just for you, in
        = Time.now - start
        seconds.