!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(content="width=device-width" name="viewport")
    %title Coding Designer
    / Included CSS Files
    = stylesheet_link_tag "app"

  %body{ :class => routeclass }
    .menu
      %ul
        %li{ :class => (routeclass == 'index' ? 'active' : nil) }=link_to "Start", "/"
        - menu_links.each do |link|
          %li{ :class => (link == routeclass ? 'active' : nil) }=link_to link.capitalize, link
        %li#github=link_to "Github »", "https://github.com/bomberstudios/coding-designer"

    .page
      = yield
