%h1 Congratulations!

=image "icon-thumbs-up"

%p
  If you are reading this, it means you already have the project up and running, and are ready to roll!

%h2 Warning
%p
  This is a work in progress, make sure to check the
  =link_to "updating section", "/updating"
