%h1 Updating

%p
  This is a work in progress. To make sure you're using the latest version, open Github for Mac and sync the project regularly by clicking the "Sync Branch" button.
%p
  =image "screenshots/github-sync"